body{
    background-color: #eeeeee;
}
.img-profile-menu{
    height: 34px;
    width: 34px;
    border-radius: 20px;
    border: 2px solid white;
}
nav{
    padding-top: 0.2rem!important;
    padding-bottom: 0.2rem!important;
}
div.nav-item a.nav-link span{
    float: right;
}
.boton-flotante{
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
}
main{
    position: relative;
    margin-top: 5.5rem;
}
.droptitulo{
    text-align: center;
    font-size: 0.95rem;
    font-weight: bolder;
}
.menu-flotante{
    margin-top: 5.5rem;
    width: 24px!important;
}
.firstmenu{
    display: none;
}
    
@media (min-width: 992px) {
    .firstmenu{
      display: block;
    }
    .secondmenu{
        display: none;
    }
    .boton-flotante{
    font-size: 1.5rem;
    padding: 0.3rem 0.8rem;
    }
    .droptitulo{
    font-size: 1.2rem; 
    }
}
